body{
	background-color: #FFEFBA;
	color: peachpuff;
}

.container {
	background-color:whitesmoke ;
	}

img{
	width: 400px;
}
header{
 	background-color: darkgrey;
}
footer{
	background-color: darkgrey;
}